.stand--DocLayout {
  --header-height: 60px;
  --doc-layout-mini-side-width: 82px;
  --doc-layout-side-width: 288px;
  --doc-layout-leftside-z-index: 1010;
  --doc-layout-content-padding-standart: var(--space-xs);
  --doc-layout-content-padding-left: var(--doc-layout-content-padding-standart);
  --doc-layout-content-padding-right:
    var(
      --doc-layout-content-padding-standart
    );
  --doc-layout-content-padding-top:
    calc(
      var(--header-height) + var(--doc-layout-content-padding-standart)
    );
  --doc-layout-content-padding-bottom:
    var(
      --doc-layout-content-padding-standart
    );
  position: relative;
  min-height: 100vh;
  background: var(--color-bg-default);

  &_breakpointS {
    --doc-layout-content-padding-standart: var(--space-2xl);
  }

  &_breakpointM {
    --doc-layout-content-padding-left:
      calc(
        var(--doc-layout-content-padding-standart) + var(--doc-layout-side-width)
      );
    --doc-layout-content-padding-right:
      calc(
        var(--doc-layout-content-padding-standart) +
        var(--doc-layout-mini-side-width)
      );
    --doc-layout-content-padding-top:
      var(
        --doc-layout-content-padding-standart
      );
    --doc-layout-content-padding-bottom:
      var(
        --doc-layout-content-padding-standart
      );
  }

  &_breakpointL {
    --doc-layout-content-padding-right:
      calc(
        var(--doc-layout-content-padding-standart) + var(--doc-layout-side-width)
      );
  }

  &-Content {
    padding:
      var(--doc-layout-content-padding-top)
      var(--doc-layout-content-padding-right)
      var(--doc-layout-content-padding-bottom)
      var(--doc-layout-content-padding-left);
  }

  &-Paper {
    max-width: 100%;
    max-width: 800px;
    min-height: 100%;
    margin: 0 auto;
    border-radius: 0;
  }

  &-Header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &-SecondaryMenuButton.Text {
    display: inline-flex;
    align-items: center;
    margin-top: var(--space-xl);
    margin-bottom: var(--space-l);
    margin-left: var(--space-xl);
    color: var(--color-typo-link);
    cursor: pointer;
    gap: var(--space-m);
  }
}
