.stand--DocLayout {
  display: grid;
  --stand-doc-grid: 320px calc(100% - 640px) 320px;
  grid-template-columns: var(--stand-doc-grid);
  background: var(--color-bg-secondary);
  min-height: 100vh;
  max-width: 100vw;

  &_withoutStand {
    --stand-doc-grid: 320px calc(100% - 320px);
  }

  &-LeftSide {
    padding: var(--space-2xl) var(--space-xl);
    background: var(--color-bg-default);
    border-right: 1px solid var(--color-bg-border);
  }

  &-RightSide {
    padding: var(--space-xl) var(--space-2xl) var(--space-xl) 0;
    position: sticky;
    top: 0;
    right: 0;
    max-height: 100vh;
  }

  &-Content {
    padding: var(--space-2xl);
  }

  &-Paper {
    background: var(--color-bg-default);
    max-width: 980px;
    margin: 0 auto;
    border-radius: 10px;
    padding: var(--space-2xl) var(--space-3xl);
    min-height: 100%;
  }
}
