.stand--CopyButton {
  &.Button {
    position: absolute;
    right: calc(0% - var(--space-2xl));


    @media screen and (min-width: 900px) {
      left: calc(0% - var(--space-2xl));
      right: auto;
    }
  }
}
