.stand--Blockquote {
    padding: var(--space-2xs) var(--space-m);
    border-left: var(--space-2xs) solid var(--color-bg-system);
    border-radius: var(--control-radius);
    background: var(--color-bg-secondary);
    font-size: var(--size-text-m);
    line-height: var(--line-height-text-m);
}
