.stand--Blockquote {
  position: relative;
  padding:
    calc(var(--space-s) - var(--space-3xs)) 0
    calc(var(--space-s) - var(--space-3xs)) var(--space-m);

  &::before {
    content: '';
    position: absolute;
    top: calc(var(--space-s) - var(--space-3xs));
    left: 0;
    width: var(--space-2xs);
    height: calc(100% - var(--space-l));
    background-color: var(--color-bg-warning);
  }
}
