.stand--Example {
  margin-right: calc(var(--space-l) * -1);
  margin-bottom: var(--space-l);
  margin-left: calc(var(--space-l) * -1);

  &_display {
    &_grid {
      display: grid;
      grid-template-columns: repeat(var(--example-col), 1fr);
    }

    &_flex {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &-Item {
    overflow-x: auto;
    overflow-y: clip;
    padding: var(--space-l);
  }
}
