.stand--H3 {
  position: relative;
  width: max-content;
  margin-bottom: var(--space-m);

  &:hover {
    & .stand--H3-CopyButton {
      opacity: 1;
    }
  }

  &-CopyButton {
    top: var(--space-xs);
    opacity: 1;
    transition: opacity 0.3s;

    @media screen and (min-width: 900px) {
      opacity: 0;
    }
  }
}
