.stand--Td {
  box-sizing: border-box;
  height: var(--space-3xl);
  padding: calc(var(--space-xs) + var(--space-3xs)) var(--space-m);

  & * {
    font-size: var(--size-text-s);
    line-height: var(--line-height-size-s);
  }
}
