.stand--Code {
  position: relative;

  &-Copy {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: calc(var(--space-xl) + var(--space-2xl));
    height: 100%;
    max-height: calc(var(--space-xl) + var(--space-2xl));
    border: none;
    border-radius: var(--control-radius);
  }

  &-Param {
    display: inline-block;
    padding: 0 0.2em;
    background-color: var(--color-bg-stripe);
    border-radius: var(--control-radius);
    font-weight: inherit;
    white-space: pre-wrap;
  }

  &-CopyButton {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: var(--space-xl);
    height: var(--space-xl);
    margin: 0;
    padding: 0;
    color: var(--color-control-typo-ghost);
    background: transparent;
    background-color: var(--color-control-bg-ghost);
    border: none;
    border-radius: var(--control-radius);
    font-family: var(--font-mono);
    font-size: var(--control-text-size-m);
    font-weight: var(--font-weight-text-regular);
    line-height: var(--line-height-text-m);
    cursor: pointer;
    transition:
      background-color 0.15s ease,
      border-color 0.15s ease,
      box-shadow 0.15s ease,
      color 0.15s ease,
      fill 0.15s ease;
    flex-shrink: 0;
    -webkit-appearance: none;

    &:hover {
      color: var(--color-control-typo-ghost-hover);
      background-color: var(--color-control-bg-ghost-hover);
    }
  }
}
