.stand--Code {
  position: relative;
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);

  &-Copy {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    box-sizing: border-box;
    width: calc(var(--space-xl) + var(--space-2xl));
    height: calc(var(--space-xl) + var(--space-2xl));
    padding: var(--space-m);
    background-color: var(--color-bg-secondary);
    border: none;
    border-radius: var(--control-radius);
  }

  &-Icon {
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.5, 1);
    transform: var(--direction-transform);

    &_isOpen {
      transform: var(--close-direction-transform);
    }

    &_withCloseIcon {
      position: absolute;
      transition: transform 0.3s, opacity 0.3s;
    }

    &_animate {
      &_enter {
        opacity: 0;
        transform: scale(0.1);
      }

      &_enterActive {
        opacity: 1;
        transform: scale(1);
      }

      &_enterDone {
        opacity: 1;
        transform: scale(1);
      }

      &_exit {
        opacity: 1;
        transform: scale(1);
      }

      &_exitActive {
        opacity: 0;
        transform: scale(0.1);
      }

      &_exitDone {
        opacity: 0;
        transform: scale(0.1);
      }
    }
  }

  &-Param {
    white-space: pre-wrap;
    word-break: break-word;
  }

  &-CopyButton {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: var(--space-xl);
    height: var(--space-xl);
    margin: 0;
    padding: 0;
    color: var(--color-control-typo-ghost);
    background: transparent;
    background-color: var(--color-control-bg-ghost);
    border: none;
    border-radius: var(--control-radius);
    font-family: var(--font-primary);
    font-size: var(--control-text-size-xs);
    font-weight: var(--font-weight-text-regular);
    line-height: var(--control-height-xs);
    cursor: pointer;
    transition:
      background-color 0.15s ease,
      border-color 0.15s ease,
      box-shadow 0.15s ease,
      color 0.15s ease,
      fill 0.15s ease;
    flex-shrink: 0;
    -webkit-appearance: none;

    &:hover {
      color: var(--color-control-typo-ghost-hover);
      background-color: var(--color-control-bg-ghost-hover);
    }
  }

  & code[class*='language-'] {
    color: var(--color-typo-primary);
    font-family: var(--font-primary);
    font-size: var(--size-text-m);
    line-height: var(--line-height-text-s);
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    hyphens: none;
    direction: ltr;
  }

  & pre[class*='language-'] {
    overflow: auto;
    width: 100%;
    padding:
      var(--space-m) calc(var(--space-xl) + var(--space-2xl))
      var(--space-m) var(--space-l);
    color: var(--color-typo-primary);
    background: var(--color-bg-secondary) !important;
    border-radius: var(--control-radius);
    font-family: var(--font-primary);
    font-size: var(--size-text-m);
    line-height: var(--line-height-text-s);
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    hyphens: none;
    direction: ltr;
  }

  & .:not(pre) > code[class*='language-'] {
    padding: 0.1em;
    background: var(--color-bg-secondary);
    border-radius: 0.3em;
  }

  & .comment {
    color: #7c7c7c;
  }

  & .prolog {
    color: #7c7c7c;
  }

  & .doctype {
    color: #7c7c7c;
  }

  & .cdata {
    color: #7c7c7c;
  }

  & .punctuation {
    &.tag,
    &,
    &.script-punctution {
      color: var(--color-typo-secondary);
    }
  }

  & .property {
    color: var(--color-typo-alert);
  }

  & .keyword {
    color: var(--color-typo-alert);
  }

  & .tag {
    color: var(--color-typo-alert);
  }

  & .class-name {
    color: var(--color-typo-success);
  }

  & .boolean {
    color: var(--color-typo-success);
  }

  & .constant {
    color: var(--color-typo-success);
  }

  & .symbol {
    color: var(--color-typo-alert);
  }

  & .deleted {
    color: var(--color-typo-alert);
  }

  & .number {
    color: var(--color-typo-alert);
  }

  & .maybe-class-name {
    color: var(--color-typo-success);
  }

  & .selector {
    color: var(--color-typo-secondary);
  }

  & .attr-name {
    color: var(--color-typo-secondary);
  }

  & .string {
    color: var(--color-typo-secondary);
  }

  & .char {
    color: var(--color-typo-secondary);
  }

  & .builtin {
    color: var(--color-typo-secondary);
  }

  & .inserted {
    color: var(--color-typo-secondary);
  }

  & .variable {
    color: var(--color-typo-system);
  }

  & .operator {
    color: var(--color-typo-secondary);
  }

  & .entity {
    color: var(--color-typo-alert);
    cursor: help;
  }

  & .url {
    color: var(--color-typo-link);
  }

  & .language-css .token.string {
    color: var(--color-typo-success);
  }

  & .style .token.string {
    color: var(--color-typo-success);
  }

  & .atrule {
    color: var(--color-typo-alert);
  }

  & .attr-value {
    color: var(--color-typo-link);
  }

  & .function {
    color: var(--color-typo-alert);
  }

  & .regex {
    color: var(--color-typo-warning);
  }

  & .important {
    color: var(--color-typo-caution);
    font-weight: bold;
  }

  & .bold {
    font-weight: bold;
  }

  & .italic {
    font-style: italic;
  }
}
