.stand--Code {
  position: relative;

  &-Copy {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    box-sizing: border-box;
    width: calc(var(--space-xl) + var(--space-2xl));
    height: calc(var(--space-xl) + var(--space-2xl));
    padding: var(--space-m);
    border: none;
    border-radius: var(--control-radius);
  }

  &-Icon {
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.5, 1);
    transform: var(--direction-transform);

    &_isOpen {
      transform: var(--close-direction-transform);
    }

    &_withCloseIcon {
      position: absolute;
      transition: transform 0.3s, opacity 0.3s;
    }

    &_animate {
      &_enter {
        opacity: 0;
        transform: scale(0.1);
      }

      &_enterActive {
        opacity: 1;
        transform: scale(1);
      }

      &_enterDone {
        opacity: 1;
        transform: scale(1);
      }

      &_exit {
        opacity: 1;
        transform: scale(1);
      }

      &_exitActive {
        opacity: 0;
        transform: scale(0.1);
      }

      &_exitDone {
        opacity: 0;
        transform: scale(0.1);
      }
    }
  }

  &-Param {
    display: inline-block;
    white-space: pre-wrap;
  }

  &-CopyButton {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: var(--space-xl);
    height: var(--space-xl);
    margin: 0;
    padding: 0;
    color: var(--color-control-typo-ghost);
    background: transparent;
    background-color: var(--color-control-bg-ghost);
    border: none;
    border-radius: var(--control-radius);
    font-family: var(--font-mono);
    font-size: var(--control-text-size-m);
    font-weight: var(--font-weight-text-regular);
    line-height: var(--line-height-text-m);
    cursor: pointer;
    transition:
      background-color 0.15s ease,
      border-color 0.15s ease,
      box-shadow 0.15s ease,
      color 0.15s ease,
      fill 0.15s ease;
    flex-shrink: 0;
    -webkit-appearance: none;

    &:hover {
      color: var(--color-control-typo-ghost-hover);
      background-color: var(--color-control-bg-ghost-hover);
    }
  }
}
