.stand--LibPageMenu {
    &-Controls {
        margin-bottom: var(--space-xs);
    }

    &-Button {
        margin-bottom: var(--space-xl);
    }

    &-Input {
        margin-bottom: var(--space-l);
    }

    &-Image {
        margin-bottom: var(--space-l);
    }
}