.stand--LibPageCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  background: var(--color-bg-default);
  border: var(--control-border-width) solid var(--color-bg-border);
  border-radius: var(--control-radius);

  &-Description {
    margin-top: var(--space-s);
  }

  &-Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & > a {
      text-decoration: none;
    }
  }

  &-Content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  &-Badge {
    &_status_canary {
      background-color: var(--color-bg-link);
    }
  }

  &_view {
    &_card {
      padding: var(--space-l) var(--space-l) var(--space-xl);
    }

    &_list-item {
      padding: var(--space-xl) var(--space-l);
    }

    &_lib-card {
      padding: var(--space-xl) var(--space-l);
    }
  }

  &-Image {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: var(--space-l);
    background-color: var(--color-bg-secondary);
    border-radius: var(--control-radius);

    & > svg {
      max-height: 120px;
    }
  }

  & a.stand--LibPageCard-Title {
    text-decoration: underline;
  }

  &-Buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: var(--space-2xl);
    gap: var(--space-s);
  }

  &-Block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-s);

    & .icons--Icon {
      --icon-size: var(--space-xl);
    }
  }
}
