.stand--Variants {
  --variants-board-width: 276px;
  --variants-height: 420px;
  position: relative;
  overflow: hidden;
  height: var(--variants-height);
  background-color: var(--color-bg-default);
  border: 1px solid var(--color-bg-border);
  border-radius: var(--control-radius);

  &_fullScreen {
    --variants-board-width: 280px;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: auto;
  }

  @media screen and (min-width: 900px) {
    display: flex;
  }

  &-Fake {
    &_fullScreen {
      height: var(--variants-height);
    }
  }

  &-Body {
    width: 100%;
    max-width: 100%;
    height: 100%;

    @media screen and (min-width: 900px) {
      max-width: calc(100% - var(--variants-board-width));
    }

    @media screen and (min-width: 900px) {
      flex: auto;
    }
  }

  &-Component {
    height: 100%;
  }

  &-Iframe {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: none;
  }

  &-BoardWrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;

    &_open {
      pointer-events: none;
    }

    @media screen and (min-width: 900px) {
      position: relative;
      overflow: hidden;
      pointer-events: all;
    }
  }

  &-Overlay {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: calc(100% - var(--control-height-m));
    background: transparent;
    pointer-events: none;

    &_visible {
      pointer-events: all;
    }

    &_fullScreen {
      height: 100%;
      pointer-events: none;
    }
  }

  &-Board {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - var(--space-4xl));
    padding: var(--space-m) var(--space-s);
    background: var(--color-bg-default);

    & > *:not(:last-child) {
      margin-bottom: var(--space-m);
    }
  }

  &-BoardContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--variants-board-width);
    height: 100%;
    border-left: 1px solid var(--color-bg-border);
    opacity: 0;
    pointer-events: all;
    transition: transform 0.25s, opacity 0.25s;
    transform: translateX(calc(var(--variants-board-width)));

    &_open {
      opacity: 1;
      box-shadow: var(--shadow-layer);
      transform: translateX(0);
    }

    @media screen and (min-width: 900px) {
      position: static;
      flex: none;
      opacity: 1;
      box-shadow: none;
      transform: none;
    }
  }

  &-Settings {
    position: absolute;
    top: var(--space-xs);
    right: var(--space-xs);
    transition: right 0.25s;

    &_open {
      right: calc(var(--variants-board-width) + var(--space-xs));
    }
  }

  &-Controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-s);
    background: var(--color-bg-secondary);
    border-bottom: 1px solid var(--color-bg-border);
    gap: var(--space-xs);
  }

  &-Toggler.Button {
    background-color: var(--color-control-bg-ghost);
    border-radius: 50%;
  }

  &-Block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
  }

  &-ResolutionsMenu {
    z-index: 102;
  }
}
