.stand--H1 {
  position: relative;
  width: max-content;

  &:hover {
    & .stand--H1-CopyButton {
      opacity: 1;
    }
  }

  &-CopyButton {
    top: var(--space-s);
    opacity: 1;
    transition: opacity 0.3s;

    @media screen and (min-width: 900px) {
      opacity: 0;
    }
  }
}
