.stand--SearchDesktopDropDown.Popover {
  --popover-height: 300px;
  --popover-width: 380px;
  overflow: hidden;
  height: var(--popover-height);
  /* top: auto; */

  &-Lenght {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    flex: none;
    border-top: 1px solid var(--color-bg-border);
  }

  &-List {
    overflow-y: auto;
    height: calc(var(--popover-height) - 2px);
  }

  &-List.stand--SearchList_listIsResult {
    height: calc(var(--popover-height) - 40px);
  }
}
