.stand--VariantsPage {
  min-width: 100vw;
  min-height: 100vh;

  &-Component {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--space-m);
  }

  .stand--ExampleFrame-Bg_type_image {
    position: fixed;
  }
}
