.stand--VariantsPage {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--color-bg-default);

  &-Bg {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    background: var(--color-typo-ghost);
    pointer-events: none;
    mask-image: url(./VariantsPageBg.svg);
  }

  &-Component {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-m);
  }
}
