.stand--H {
  position: relative;
  width: max-content;
  max-width: 100%;
  padding-right: calc(var(--space-xl) + var(--space-xs));
  word-break: break-word;

  &,
  & * {
    white-space: pre-wrap;
  }

  @media screen and (min-width: 900px) {
    padding-right: 0;

    &:hover {
      & .stand--H-CopyButton {
        opacity: 1;
      }
    }
  }

  &-CopyButton.Button {
    position: absolute;
    top: calc((var(--h-line-height) - var(--button-height)) / 2);
    right: 0;

    @media screen and (min-width: 900px) {
      right: auto;
      left: calc((var(--button-height) + var(--space-xs)) * -1);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}

h1.stand--H {
  --h-line-height: calc(var(--size-text-3xl) * 1.5);
}

h2.stand--H {
  --h-line-height: calc(var(--size-text-2xl) * 1.5);
}

h3.stand--H {
  --h-line-height: calc(var(--size-text-xl) * 1.5);
}

h4.stand--H {
  --h-line-height: calc(var(--size-text-xl) * 1.2);
}

h5.stand--H {
  --h-line-height: calc(var(--size-text-m) * 1.2);
}

h6.stand--H {
  --h-line-height: calc(var(--size-text-s) * 1.5);
}
