.stand--Tr {
  & > th {
    &:not(:last-child) {
      border-right: 1px solid var(--color-bg-border);
    }
  }

  & > td {
    &:first-child * {
      white-space: nowrap;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--color-bg-border);
    }
  }
}
