.stand--PortalMenuItem {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: var(--space-xs) var(--space-s);
  background: transparent;
  border: none;
  border-radius: var(--control-radius);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.15s;

  &-Body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    color: var(--color-typo-link);
    background: var(--color-control-bg-ghost-hover);
  }

  .Text {
    transition: color 0.15s;
  }

  &:hover:not(&_active) .Text {
    color: var(--color-typo-link);
  }

  &_active,
  &_active:hover {
    background: var(--color-typo-link);
  }

  &-Label {
    display: inline-flex;
    align-items: center;
    min-height: var(--space-xl);
  }
}
