.stand--H2 {
  position: relative;
  width: max-content;
  max-width: 100%;

  &:hover {
    & .stand--H2-CopyButton {
      opacity: 1;
    }
  }

  &,
  & * {
    white-space: pre-wrap;
  }

  &-CopyButton {
    top: calc(var(--space-2xs) + var(--space-3xs));
    opacity: 1;
    transition: opacity 0.3s;

    @media screen and (min-width: 900px) {
      opacity: 0;
    }
  }
}
