.stand--StandPageInformer {
  & .Informer-Content {
    & > *:not(:last-child) {
      margin-bottom: var(--space-xs);
    }
  }

  & .Informer-Title {
    line-height: var(--line-height-text-xs);
  }

  &-Link {
    color: var(--color-typo-link);
    text-decoration: underline;
    transition: 0.3s ease;
  }
}
