.stand--LibCard {
  box-sizing: border-box;
  width: 100%;
  padding: var(--space-xl) var(--space-l);
  background: var(--color-bg-default);
  border: var(--control-border-width) solid var(--color-bg-border);
  border-radius: var(--control-radius);

  & a {
    text-decoration: none;
  }

  &-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  &-Buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: var(--space-2xl);

    & .Button_view_clear {
      color: var(--color-typo-link);
    }
  }
}
