.stand--LibCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: var(--space-xl) var(--space-l);
  background: var(--color-bg-default);
  border: var(--control-border-width) solid var(--color-bg-border);
  border-radius: var(--control-radius);

  & a {
    text-decoration: none;
  }

  &-Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    flex-wrap: wrap;
    gap: var(--space-xs);

    &:hover {
      text-decoration: underline;
    }
  }

  &-Info {
    flex: 1;
  }

  &-Buttons {
    flex: 0;
    margin-top: var(--space-2xl);

    @media screen and (min-width: 460px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & .Button:first-child {
      margin-right: var(--space-s);
      margin-bottom: var(--space-s);

      @media screen and (min-width: 460px) {
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    & .Button_view_clear {
      color: var(--color-typo-link);
    }
  }
}
