.stand--PortalMenuGroup {
  &_firstRender .Collapse-Body {
    transition: none;
  }

  &_renders_1 .Collapse-Body {
    transition: none;
  }

  & .Collapse-Label {
    border-radius: var(--control-radius);
    font-weight: var(--font-weight-text-bold);
    text-transform: uppercase;
  }

  & .Collapse-Content {
    padding: 0;
  }
}
