.stand--StandPageNavigation {
  overflow: auto;
  margin-right: calc(var(--doc-layout-content-padding-standart) * -1);
  margin-left: calc(var(--doc-layout-content-padding-standart) * -1);

  &-Wrapper {
    display: flex;
    align-items: center;
    min-width: max-content;
    padding: var(--space-2xs) var(--doc-layout-content-padding-standart);
    gap: var(--space-m);

    &_isDesktop {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &-Tabs {
    width: max-content;
  }

  &-Links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);

    & > .Button {
      color: var(--color-typo-primary);
      background-color: var(--color-bg-default);
    }
  }
}
