.stand--StandPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  &-Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: var(--space-l);

    @media screen and (max-width: 899px) {
      flex-wrap: wrap;

      & > .Text:first-child {
        margin-right: var(--space-xl);
      }
    }
  }

  &-Badges {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
  }

  &-Description {
    width: 100%;
    margin-bottom: calc(var(--space-l) * 1.5);
  }

  &-Tooltip {
    max-width: 220px;
  }
}
