.stand--StandPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  &-Top {
    width: 100%;
    margin-bottom: var(--space-l);

    @media screen and (min-width: 900px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-Badges {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    margin-top: var(--space-l);

    @media screen and (min-width: 900px) {
      margin-top: 0;
    }
  }

  &-Description {
    width: 100%;
    margin-bottom: calc(var(--space-l) * 1.5);
  }

  &-Tooltip {
    max-width: 220px;
  }
}
