.stand--StandPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background: var(--color-bg-secondary);
  border-radius: var(--space-xs);

  &-Badges {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-2xs);
  }
}
