.stand--LibsPage {
  &-Section {
    --row-gap: var(--space-xl);
    --column-gap: var(--space-l);
    display: grid;
    width: 100%;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    grid-template-columns: 1fr;

    &:not(:last-child) {
      margin-bottom: calc(var(--space-l) * 2.5);
    }

    @media screen and (min-width: 460px) {
      grid-template-columns: 1fr;
    }

    @media screen and (min-width: 860px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
