import React from 'react';

import { MDXComponents } from 'mdx/types';
#imports#
const Component: React.FC<{
  wrapper: React.FC<{ children: React.ReactNode }>;
  components: MDXComponents;
}> = ({ wrapper: Wrapper, components }) => {
  return (
    <Wrapper>
      <Docs components={components} />
    </Wrapper>
  );
};

export default Component;
