import React from 'react';
import { useMdxComponents } from '../../../src/modules/mdxComponents';

#imports#
const Component: React.FC = () => {
  const components = useMdxComponents();
  return <Docs components={components} />;
};

export default Component;
