import { CreatedStand } from '##/exportTypes';
import { prepareStands } from '##/exportFuctions';

#imports#

#stands#

#lazyIds#

#lazyDocsAccess#

export const { stands, libs } = prepareStands(standsGenerated, lazyIds, lazyAccess);