import { CreatedStand } from '../../src/exportTypes';
import { prepareStands } from '../../src/exportFuctions';

#imports#

#stands#

#lazyIds#

#repositoryPaths#

#lazyDocsAccess#

#componentsDirs#

export const { stands, libs, pages } = prepareStands(
  standsGenerated,
  lazyIds,
  lazyAccess,
  componentDirs,
  repositoryPaths,
);
