import { CreatedStand } from '../../src/exportTypes';
import { prepareStands } from '../../src/exportFuctions';

#imports#

#stands#

#lazyIds#

#lazyDocsAccess#

#componentsDirs#

export const { stands, libs } = prepareStands(
  standsGenerated,
  lazyIds,
  lazyAccess,
  componentDirs,
);
