.stand--LibPage {
  &-Title {
    margin-bottom: var(--space-xl);
  }

  &-Wrapper {
    width: 100%;

    & > *:not(:last-child) {
      margin-bottom: var(--space-m);
    }
  }

  & > *:not(:last-child) {
    margin-bottom: calc(var(--space-l) * 2.5);
  }

  &-Lib {
    & > *:not(:last-child) {
      margin-bottom: var(--space-l);
    }
  }

  &-Section {
    width: 100%;
    --row-gap: var(--space-xl);
    --column-gap: var(--space-l);
    display: grid;
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
    grid-template-columns: 1fr;

    &_view {
      &_card {
        @media screen and (min-width: 460px) {
          grid-template-columns: 1fr 1fr;
        }
    
        @media screen and (min-width: 860px) {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
      &_list-item {
        --row-gap: var(--space-l);

      }
    }

   
  }
}
