.stand--LibPage {
  &-Title {
    margin-bottom: var(--space-xl);
  }

  &-Wrapper {
    width: 100%;

    & > *:not(:last-child) {
      margin-bottom: var(--space-m);
    }
  }

  & > *:not(:last-child) {
    margin-bottom: calc(var(--space-l) * 2.5);
  }

  &-Lib {
    & > *:not(:last-child) {
      margin-bottom: var(--space-l);
    }
  }
}
