.stand--LibPage {
  &-Title {
    margin-bottom: var(--space-xl);
  }

  &-Wrapper {
    width: 100%;

    & > *:not(:last-child) {
      margin-bottom: var(--space-m);
    }
  }

  & > *:not(:last-child) {
    margin-bottom: calc(var(--space-l) * 2.5);
  }

  &-Section {
    --row-gap: var(--space-l);
    --column-gap: var(--space-xl);
    display: grid;
    width: 100%;

    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);

    grid-template-columns: 1fr;

    @media screen and (min-width: 460px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 720px) {
      --gap: var(--space-2xl);
    }

    @media screen and (min-width: 860px) {
      --gap: var(--space-3xl);
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1280px) {
      --gap: var(--space-4xl);
    }
  }
}
