.stand--LazyDocs {
  &-Loader {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-l);
  }

  & sup {
    font-size: 0.6em;
    vertical-align: text-top;
  }

  & > .stand--MdxCollapse {
    margin-bottom: var(--space-xl);
  }

  & h1.stand--H {
    margin-bottom: var(--lazy-docs-gap-l);
  }

  & h2.stand--H {
    margin-bottom: var(--lazy-docs-gap-l);
  }

  & h3.stand--H {
    margin-bottom: var(--lazy-docs-gap-m);
  }

  & h4.stand--H {
    margin-bottom: var(--lazy-docs-gap-m);
  }

  & h5.stand--H {
    margin-bottom: var(--lazy-docs-gap-m);
  }

  & h6.stand--H {
    margin-bottom: var(--lazy-docs-gap-m);
  }

  .stand--Code {
    margin-bottom: var(--lazy-docs-gap-xl);
  }

  .stand--Example {
    margin-bottom: var(--lazy-docs-gap-xl);
  }

  .stand--P {
    margin-bottom: var(--lazy-docs-gap-xl);
  }

  .stand--Blockquote {
    margin-bottom: var(--lazy-docs-gap-xl);

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .stand--Table-Wrapper {
    margin-bottom: var(--lazy-docs-gap-xl);
  }

  .stand--MdxTabs {
    margin-bottom: var(--lazy-docs-gap-xl);

    &-Content > *:last-child {
      margin-bottom: 0;
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  & .stand--Ol,
  & .stand--Ul {
    margin-bottom: var(--lazy-docs-gap-xl);
    margin-left: 0;
    padding-left: 0;

    & > li {
      &::marker {
        display: inline;
        width: 1px;
        margin-right: var(--space-2xs);
        padding-right: var(--space-2xs);
      }

      & > * {
        display: inline;
        margin-bottom: 0;
      }

      & .stand--Ol,
      & .stand--Ul {
        display: block;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: var(--space-m);
      }
    }
  }
}
