.stand--DocLayoutRightSide {
  --doc-layout-shadow-none: 0 0 0 var(--color-shadow-modal-1),
    0 0 0 var(--color-shadow-modal-2);
  right: 0;
  width: var(--doc-layout-side-width);
  min-height: 100vh;
  background: var(--color-bg-default);
  border-left: 1px solid var(--color-bg-border);
  box-shadow: var(--doc-layout-shadow-none);
  transition: transform 0.2s, box-shadow 0.2s;
  transform: translateX(100%);
  position: relative;

  &_breakpointM {
    transform: translateX(
      calc(var(--doc-layout-side-width) - var(--doc-layout-mini-side-width))
    );
  }

  &_open {
    transform: translateX(0);
  }

  &_open.stand--DocLayoutRightSide_breakpointM {
    box-shadow: var(--shadow-modal);
  }

  &_open.stand--DocLayoutRightSide_breakpointL {
    box-shadow: var(--doc-layout-shadow-none);
  }

  &_open:not(.stand--DocLayoutRightSide_breakpointL) {
    z-index: 9000;
  }

  &_position {
    &_absolute {
      position: absolute;
      top: var(--top);
    }

    &_fixedDown {
      position: fixed;
      bottom: 0;
    }

    &_fixedUp {
      position: fixed;
      top: 0;
    }

    &_fixedScrolable {
      position: fixed;
      top: 0;
      overflow-y: scroll;
      height: 100%;
    }
  }
}

.Theme .stand--DocLayoutRightSide {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
