.stand--LibPageMenu {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-Controls {
    position: sticky;
    z-index: 2;
    top: 0;
    padding-bottom: var(--space-l);
    background: var(--color-bg-default);

    & > *:not(:last-child) {
      margin-bottom: var(--space-l);
    }

    & > *:first-child {
      margin-bottom: var(--space-2xl);
    }
  }

  & > div.stand--LibPageMenu-Controls {
    margin-bottom: 0;
  }

  &-Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    & > *:not(:last-child) {
      margin-right: var(--space-m);
    }
  }

  &-ButtonToReview {
    &.Text {
      padding: var(--space-s);
      border-radius: var(--control-radius);
      text-decoration: none;
    }

    &_active.Text {
      background: var(--color-bg-stripe);
    }
  }

  &-Filters {
    position: sticky;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% + 2 * var(--space-xl));
    margin-left: calc(var(--space-xl) * -1);
    background: var(--color-bg-default);
    border-top: 1px solid var(--color-bg-border);
  }

  &-Overlay {
    width: 100%;
    padding-left: var(--space-xl);
    background: var(--color-bg-stripe);

    & > *:not(:last-child) {
      border-bottom: 1px solid var(--color-bg-border);
    }
  }

  &-FiltersItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding-top: calc(var(--space-s) + var(--space-3xs));
    padding-right: var(--space-xl);
    padding-bottom: calc(var(--space-s) + var(--space-3xs));
  }

  & .stand--PortalMenu-List {
    flex: 1;
  }

  &-ButtonLibs {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: var(--space-xs);
  }
}
