.stand--LibPageMenu {
  &-Controls {
    position: sticky;
    top: 0;
    z-index: 2;
    padding-bottom: var(--space-m);
    background: var(--color-bg-default);

    & > *:not(:last-child) {
      margin-bottom: var(--space-l);
    }

    & > *:first-child {
      margin-bottom: var(--space-xl);
    }
  }

  & > div.stand--LibPageMenu-Controls {
    margin-bottom: 0;
  }

  &-Input {
    margin-bottom: var(--space-l);
  }

  &-Image {
    margin-bottom: var(--space-l);
  }
}
