.stand--ListCardBox {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--space-l);

  &-List {
    display: grid;
    width: 100%;
    column-gap: var(--space-2xl);
    row-gap: var(--space-l);
    grid-template-columns: 1fr;

    &_adaptive {
      @media screen and (width >= 864px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
